body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  font-style: normal;
  font-family: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
  outline: transparent;
}

textarea {
  outline: transparent;
  resize: none;
}

/* ================================================================================== */
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.form {
  padding-top: 36px;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form-input {
  width: 272px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  color: #2E2F42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input::placeholder {
  color: #808080;
}

.form-input:hover {
  border-color: #000;
}

.form-input:focus {
  border-color: #4E75FF;
}

.form-button {
  width: 91px;
  border-radius: 4px;
  background-color: #4E75FF;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover {
  background-color: #6C8CFF;
}

.loader {
  max-width: 380px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  position: relative;
  padding: 0 48px;
  color: #2E2F42;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: rgba(108, 140, 255, 0.5);
  position: absolute;
  animation: load .7s infinite alternate ease-in-out;
  top: 0;
}

.loader:after {
  top: auto;
  bottom: 0;
}

@keyframes load {
  0% {
    left: 0;
    height: 43px;
    width: 15px;
    transform: translateX(0)
  }

  50% {
    height: 10px;
    width: 40px
  }

  100% {
    left: 100%;
    height: 43px;
    width: 15px;
    transform: translateX(-100%)
  }
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover {
  transform: scale(1.1);
}

.gallery-link {
  display: block;
  width: 100%;
  height: 152px;
}

.gallery-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.desc-wrapper {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 4px;
}

.desc-text h3 {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.desc-text p {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.my-iziToast {
  border-radius: 4px !important;
}

.my-iziToast > .iziToast-progressbar {
  height: 2px !important;
  border-radius: 4px !important;
  background-color: #FFBEBE !important;
}

.my-iziToast::after {
  border-radius: 4px !important;
}

.my-iziToast > .iziToast-body {
  display: flex !important;
  align-items: center !important;
}

.my-iziToast > .iziToast-body .iziToast-texts {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin: 0 !important;
  margin-left: 10px !important;
  width: 320px !important;
}

.my-iziToast > .iziToast-body .iziToast-message {
  font-family: 'Montserrat', sans-serif !important;
  letter-spacing: 0.03em !important;
}

.img-loader {
  position: relative;
  bottom: 50%;
  left: 50%;
  animation: flippx 2s infinite linear;
  z-index: -100;
}

.img-loader-hidden {
  display: none;
}

.img-loader:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(108, 140, 255, 0.5);
  transform-origin: -20px 50%;
  animation: spin 1s infinite linear;
}

.img-loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(78, 117, 255, 0.5);
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@keyframes flippx {

  0%,
  49% {
    transform: scaleX(1);
  }

  50%,
  100% {
    transform: scaleX(-1);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}